In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

training_set = pd.read_csv('PM25_train.csv')
testing_set = pd.read_csv('PM25_test.csv')

In [55]:
id_train = training_set.device_id
id_test = testing_set.device_id

In [56]:
print(training_set.shape)
print(testing_set.shape)

(1116554, 8)
(41223, 7)

In [57]:
training_set.head()

,device_id,Date,Time,PM2.5,Temperature,Humidity,lat,lon
0,28C2DDDD415C,2017-01-01,08:03:09,21.0,24.12,83.0,23.741,120.755
1,28C2DDDD415C,2017-01-01,08:03:09,21.0,24.12,83.0,23.741,120.755
2,28C2DDDD415C,2017-01-01,08:03:09,21.0,24.12,83.0,23.741,120.755
3,28C2DDDD415C,2017-01-01,08:09:04,20.0,24.12,82.0,23.741,120.755
4,28C2DDDD415C,2017-01-01,08:09:04,20.0,24.12,82.0,23.741,120.755

In [58]:
#testing_set.head()

In [59]:
target = training_set.iloc[:,3]  ##名稱有小數點
#training_set.drop('PM2.5', axis=1, inplace=True)
training_set.drop(['device_id','PM2.5'], axis=1, inplace=True)
testing_set.drop(['device_id'], axis=1, inplace=True)

In [60]:
target.head(5)

0    21.0
1    21.0
2    21.0
3    20.0
4    20.0
Name: PM2.5, dtype: float64

In [61]:
print(training_set.shape)
print(testing_set.shape)

(1116554, 6)
(41223, 6)

In [62]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

new_Date = le.fit_transform(training_set.Date)
training_set.Date = new_Date

new_Time = le.fit_transform(training_set.Time)
training_set.Time = new_Time

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
training_set['Time'] = scaler.fit_transform(training_set['Time'].values.reshape(-1,1))

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [63]:
training_set.head()

   Date      Time  Temperature  Humidity     lat      lon
0     0  0.335525        24.12      83.0  23.741  120.755
1     0  0.335525        24.12      83.0  23.741  120.755
2     0  0.335525        24.12      83.0  23.741  120.755
3     0  0.339634        24.12      82.0  23.741  120.755
4     0  0.339634        24.12      82.0  23.741  120.755

# Training

In [64]:
print(training_set.shape)
print(testing_set.shape)

(1116554, 6)
(41223, 6)

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(training_set, target, test_size=0.2, random_state= 12, shuffle=False)
print(X_train.shape,X_valid.shape)
print(y_train.shape,y_valid.shape)

(893243, 6) (223311, 6)
(893243,) (223311,)

In [66]:
#training_set.head()

In [67]:
from sklearn.linear_model import LinearRegression #選擇模型
from sklearn import metrics

model1 = LinearRegression()#建立模型
model1.fit(X_train,y_train)#訓練模型
print('train evaluation :')
pred = model1.predict(X_valid)#模型預測
print('R2 score:%.2f' %metrics.r2_score(y_valid, pred))

train evaluation :
R2 score:0.13

In [68]:
from sklearn.linear_model import Lasso,Ridge

model4 = Lasso(alpha = 0.01)
model4.fit(X_train,y_train)
pred = model4.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))
#使用lasso驗證效果

train evaluation :
R2 score:0.14

In [69]:
model5 = Ridge(alpha = 0.01)
model5.fit(X_train,y_train)
pred = model5.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))
#使用ridge驗證

train evaluation :
R2 score:0.13

In [70]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
the_better_data = scaler.fit_transform(training_set)
X_train, X_valid, y_train, y_valid = train_test_split(the_better_data, target, test_size=0.2, random_state= 12, shuffle=False)
print(X_train.shape,X_valid.shape)
print(y_train.shape,y_valid.shape)

(893243, 6) (223311, 6)
(893243,) (223311,)

In [71]:
model1 = LinearRegression()#建立模型
model1.fit(X_train,y_train)#訓練模型
pred = model1.predict(X_valid)#模型預測
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))

R2 score:0.13

In [72]:
model4 = Lasso(alpha = 0.01)
model4.fit(X_train,y_train)
pred = model4.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))

train evaluation :
R2 score:0.14

In [73]:
model5 = Ridge(alpha = 0.01)
model5.fit(X_train,y_train)
pred = model5.predict(X_valid)
print('train evaluation :')
print('R2 score:%.2f'%metrics.r2_score(y_valid, pred))

train evaluation :
R2 score:0.13

In [74]:
print(training_set.shape)
print(testing_set.shape)

(1116554, 6)
(41223, 6)

In [75]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

new_Date = le.fit_transform(testing_set.Date)
testing_set.Date = new_Date

new_Time = le.fit_transform(testing_set.Time)
testing_set.Time = new_Time

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
testing_set['Time'] = scaler.fit_transform(testing_set['Time'].values.reshape(-1,1))

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [76]:
testing_set.head()

   Date      Time  Temperature  Humidity     lat      lon
0     0  0.002672        18.62      92.0  23.741  120.755
1     0  0.006680        18.75      92.0  23.741  120.755
2     0  0.010361        18.62      92.0  23.741  120.755
3     0  0.014339        18.62      92.0  23.741  120.755
4     0  0.018228        18.62      92.0  23.741  120.755

In [77]:
'''
the_better_testing = scaler.fit_transform(testing_set)
result = model4.predict(the_better_testing)
submit = pd.concat([id_test, pd.Series(result)], axis=1)
submit.columns = ['device_id', 'pred_pm25']
'''

"\nthe_better_testing = scaler.fit_transform(testing_set)\nresult = model4.predict(the_better_testing)\nsubmit = pd.concat([id_test, pd.Series(result)], axis=1)\nsubmit.columns = ['device_id', 'pred_pm25']\n"

In [83]:
example = pd.read_csv("submission.csv")
sub_id = example["device_id"]
the_better_testing = scaler.fit_transform(testing_set)
result = model4.predict(the_better_testing)

pm25_result = pd.concat([id_test, pd.Series(result)], axis=1)
a = pm25_result.groupby(['device_id']).mean()
b = np.around(a.values, decimals=2)
b = pd.DataFrame(b)
submit = pd.concat([sub_id, b], axis=1)
submit.columns = ['device_id', 'pred_pm25']

In [84]:
submit

        device_id  pred_pm25
0    28C2DDDD415C      43.69
1    28C2DDDD47BC      37.07
2    74DA3895C1F8      34.21
3    74DA3895C1FA      35.35
4    74DA3895C200      34.22
5    74DA3895C20A      33.37
6    74DA3895C20C      32.70
7    74DA3895C210      34.15
8    74DA3895C212      35.40
9    74DA3895C214      35.05
10   74DA3895C216      33.26
11   74DA3895C218      34.95
12   74DA3895C21E      31.65
13   74DA3895C222      34.54
14   74DA3895C224      42.31
15   74DA3895C226      34.82
16   74DA3895C228      34.24
17   74DA3895C22A      28.95
18   74DA3895C230      34.80
19   74DA3895C232      35.32
20   74DA3895C234      39.50
21   74DA3895C23E      40.04
22   74DA3895C240      34.53
23   74DA3895C246      42.36
24   74DA3895C248      40.01
25   74DA3895C24A      42.32
26   74DA3895C24C      30.19
27   74DA3895C24E      30.59
28   74DA3895C250      35.26
29   74DA3895C252      33.50
..            ...        ...
222  74DA3895C5D0      38.59
223  74DA3895C5D2      33.09
224  74DA3895C5D8      34.24
225  74DA3895C5DC      33.83
226  74DA3895C5DE      34.30
227  74DA3895DF9E      30.17
228  74DA3895DFA4      42.57
229  74DA3895DFA6      24.96
230  74DA3895DFB4      37.64
231  74DA3895DFB6      37.37
232  74DA3895DFC4      35.82
233  74DA3895DFC6      35.45
234  74DA3895DFC8      38.60
235  74DA3895DFCC      37.06
236  74DA3895DFD0      36.71
237  74DA3895E06E      32.40
238  74DA3895E070      35.14
239  74DA3895E074      39.31
240  74DA3895E076      36.88
241  74DA3895E078      38.73
242  74DA3895E0A4      36.41
243  74DA3895E0A8      33.18
244  74DA3895E0AC      33.18
245  74DA3895E0AE      46.81
246  74DA3895E0B0      35.32
247  74DA3895E0BE      33.96
248  74DA3895E0D0      68.37
249  74DA3895E0DC      34.76
250  74DA3895E0E0      34.81
251  74DA3895E0E2      30.92

[252 rows x 2 columns]

In [85]:
submit.to_csv('Result_ML.csv', index=False)